<h1 class="animated fadeIn fast">Acerca de Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum velit egestas metus tempor rhoncus. Etiam semper suscipit dignissim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse mollis vulputate dui, non varius tortor
    lacinia nec. In tincidunt pharetra tempus. Aenean risus dolor, ultrices eu dui at, auctor pulvinar purus. Vestibulum laoreet eu quam sit amet bibendum. Etiam ultricies pharetra quam id lobortis. Nam sed ligula id nunc aliquet aliquam non non risus.
    Etiam arcu ipsum, ullamcorper et erat in, aliquet hendrerit augue.
</p>